*{
    margin:0 !important;
    padding:0 ;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
:root{
    --main:#ff6200;
    --sub:black;
    --padd:30px 40px;
    --para:20px;
}
/* button */
.btm{
    background-color: var(--main);
    border: none;
    padding: 5px 10px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    font-size: 18px;
}
/* SUB HEADING FONT SIZE  */
.sub-title{
    font-size: 22px;
}
/* PARAGRAPH FONT SIZE */
.parag{
    color: var(--main);
    font-size: 18px;
    font-weight: 600;
}
/* HEADER CONTACT INFO */
header{
    background-color: var(--sub);
    color: rgb(217, 205, 205);  
    font-size: 11px;
}
.info i{
    color: var(--main);
    font-size: 14px;
}
.info p:first-child{
    border-right: 1px solid rgb(196, 186, 186);
    /* padding-right: 10px; */
}
/* CONTACT SOCIAL ICONS */
header div:last-child{
    font-size: 14px;
}
/* RESPONSIVE FOR HEADER */
@media only screen and (min-width:320px)
and (max-width:420px){
    header{
        font-size: 10px;
    }
    .info p:first-child{
        border-right: none;
    }
    /* CONTACT INFO ICONS */
    header div:last-child{
        font-size: 15px;
    }
}
/* RESPONSIVE FOR HEADER */
@media only screen and (min-width:420px)
and (max-width:800px){
    header{
        font-size: 10px;
    }
    .info p:first-child{
        border-right: none;
    }
    /* CONTACT INFO ICONS */
    header div:last-child{
        font-size: var(--para);
    }
}
/* NAV BAR */
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color:white;    
    padding: 5px 20px;
    z-index: 999;
}
/* COMPANY LOGO */
nav img{
    height: 70px;
    width:100px;
}
/* MENU LINKS */
nav ul{
    display: flex;
    justify-content: space-between;
    width: 85%;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: var(--sub);
    font-size: 15px;
}
/* CONTACT NUMBER */
.phone{
    color: white;
    background-color: var(--main);
    padding: 3px;
    border-radius: 50px;
}
nav input,nav label{
    display: none;
    font-size: 25px;
}
input:checked~ .subnavs{
    left:0;
}
/* RESPONSIVE NAV BAR */
@media only screen and (max-width:750px){
    .subnavs{
        flex-direction: column;
        transition: all 1s;
        position: absolute;
        background-color:white;
        top:100%;
        left:-100%;
        width:100%;
        height: 69vh;
        padding:10px 25px;
        font-size: var(--para);
        font-weight: bold;
    }
    nav label{
        display: block;
    }
}
/* FIRST CONTENT */
.cont-1{
    padding:var(--padd);
    margin-bottom: var(--para);
}
.cont-1 div:first-child{
    gap:40px;
}
.cont-1 div:first-child h1{
    font-size: 47px;
    font-weight: 600;
}
/* FIRST CONTENT IMAGE */
.cont-1 img{
    height: 100%;
    padding: 30px 0;
}
/* FIRST CONTENT BUTTON */
.cont-1-btn{
    gap:var(--para);
}
.cont-1-btn p{
    font-size: var(--para);
}
.cont-1-btn i{
    font-size: 35px;
    color: var(--main);
}
/* RESPONSIVE FOR FIRST CONTENT */
@media  only screen and (min-width:320px) and (max-width:420px){
    .cont-1{
        padding:30px 20px;
    }
    .cont-1 div:first-child h1{
        font-size: 30px;
    }
    .cont-1 img{
        width: 100%;
    }
    .cont-1 div:first-child{
        width:100%;
    }
    .cont-1-btn button{
        padding: 7px 10px;
        font-size: 16px;
    }
    .cont-1-btn i{
        font-size: 35px;
    }
    .cont-1-btn p{
        font-size: 18px;
    }
}
/* RESPONSIVE FOR FIRST CONTENT */
@media  only screen and (min-width:420px) and (max-width:870px){
    .cont-1{
    }
    .cont-1 img{
        width: 100%;
    }
    .cont-1 div:first-child{
        width:100%;
    }
}
/* SECOND CONTENT */
.cont-2{
    padding: var(--padd);
    gap:var(--para);
}
/* SECOND CONTENT IMAGE */
.cont-2 img{
    min-height:100%;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
}
/* SECOND CONTENT INFORMATION */
.cont-2-info{
    gap:15px;
}

.cont-2-info p:nth-child(3),.abt-cont1{
    color:rgb(88, 87, 87) ;
    font-size: 15px;
}
.cont-2-info button{
    width:170px;
}
/* RESPONSIVE SECOND CONTENT */
@media only screen and (max-width:1120px){
    .cont-2 img{
        height: 300px;
    }
    .cont-2-info p{
        font-size: 16px;
    }
}
/* THIRD CONTENT */
.cont-3{
    background-color:rgb(235, 229, 229);
    padding:20px 30px 5px 30px;
}
/* THIRD CONTENT INFORMATION */
.cont-3-info h2{
    color:var(--main)
}
.cont-3-info ul{
    padding: 10px 0 0 25px;
    width: 100%;
}
.cont-3-info ul li{
    font-size:16px;
    font-weight: 600;
    width: 100%;
    padding-bottom: 8px;
    text-align: left;
}
/* FORTH CONTENT */
.cont-4{
    align-items: center;
    padding: 15px;
}
/* FORTH CONTENT INFORMATION */
.cont-4-info p{
    font-size: 16px;
    font-weight: 500;
    color:rgb(88, 87, 87) ;
}
/* FORTH CONTENT ICON BOX */
.cont-4-info-icon i{
    color: var(--main);
}
/* FIFTH CONTENT */
.cont-5{
    width:80%;
    padding: 10px 0;
    box-shadow: 0px 0px 5px 0px grey;
    border-radius: 10px;
}
.cont-5 div h1{
    font-size: 50px !important;
    color: var(--main);
}
/* SIXTH CONTENT */
.cont-6{
    padding: 30px;
}
/* OVERALL DIV FOR CARDS */
.cont-6>div{
    gap:30px;
}
/* CARD */
.cards{
    box-shadow: 0px 0px 7px 0px grey;
    width:300px;
    height:420px;
}
/* CARD IMAGES */
.cards img{
    width:100% !important;
    height:60% !important;
    border-bottom-right-radius: 15%;
}
.cards-info{
    width:100%;
    height:35%;

}
.cards-info>h2{
    font-size: 20px;
    font-weight: 600;
}
.cards-info p{
    font-size: 14px;
    color:rgb(88, 87, 87);
}
.cards-info p:last-child{
    color:var(--main);
}
@media only screen and (max-width:737px){
    .cards{
        min-height: 300px;
    }
}
.cont-7 h1{
    font-size:120px !important;
    color: var(--main);
    opacity: 15%;
}
/* SEVENTH CONTENT INFORMATION */
.cont-7>div{
    gap: var(--para);
    padding-top: 5%;
}
.cont-7-info{
    width:45%;
    padding: 0 20px;
    gap:20px;
}
/* SEVENTH CONTENT IMAGE */
.cont-7>div>img{
    width:45%;
}
.cont-7-info>p:first-child{
    color: var(--main);
    font-weight: 600;    
}
.cont-7-info>p:nth-child(3){
    font-size: 14px;
    font-weight: 500;
    color:rgb(88, 87, 87) ;
}
/* SEVENTH CONTENT CEO BOX */
.ceo{
    gap:15px;
}
.ceo img{
    height: 50px;
    width:50px;
    border-radius: 50%;
}
.ceo div p:first-child{
    font-size: 17px;
    font-weight: 600;
}
.ceo div p:last-child{
    font-size: 15px;
    font-weight: 400;
    color: rgb(88, 87, 87);
}
/* SEVENTH CONTENT ICONS */
.cont-7-icon{
    /* display: flex; */
    gap:10px;
}
.cont-7-icon i{
    font-size: 14px;
    color:#f09257
}
.cont-7-icon i:nth-child(2){
    font-size: 16px;
    color: var(--main);
}

/* RESPONSIVE SEVENTH CONTENT */
@media only screen and (min-width:320px) and (max-width:500px){
    .cont-7 h1{
    
        font-size:40PX !important;
    }
}
@media only screen and (min-width:500px) and (max-width:1065px){
    .cont-7 h1{
        
        font-size:75px !important;
    }

}
/* RESPONSIVE SEVENTH CONTENT INFORMATION */
@media only screen and (max-width:950px){
    .cont-7>div>img{
        width: 70%;
    }
    .cont-7-info{
        width: 90%;
    }
}
/* CONTENT EIGHT */
.cont-8{
    /* margin-top: 20px; */
    /* text-align: center; */
}
.cont-8 p{     
    /* margin-bottom: var(--para); */
}
/* CONTENT EIGHT GALLERY */
.gallery{
    /* display: flex; */
    /* align-items: center; */
    /* margin-bottom: 20px; */
}
.gallery img:nth-child(2){
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.gallery img:nth-child(3){
    height: 350px;
    width:30%;
    border-radius: 15px;
}
.gallery img:nth-child(4){
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.middle{
    height: 330px;
    width:20%;
}
.front{
    height: 310px;
    width:15%;
}
/* RESPONSIVE CONTENT EIGHT  */
@media only screen and (max-width:700px){
    .gallery{
        /* flex-direction: column; */
        /* gap:10px; */
    }
    .gallery img,.gallery img:nth-child(3){
        width: 80%;
        border-radius: 15px;
    }
}
/* FOOTER */
.details{
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* gap:20px; */
    background-color:var(--sub);
    color: white;
    /* padding: var(--padd); */
    /* margin-top: 50px; */
}
/* ABOUT US */
.details div:nth-child(1){
    width:300px;
    word-break:break-all;
}
/* SERVICES */
.details div:nth-child(2){
    width: 150px;
}
/* ADRESS */
.details div:nth-child(3){
    width: 330px;
}
.details div p{
    font-size: 12px;
}
.details div p:first-child{
    color: var(--main);
    font-size: 14px;
    font-weight: 600;    
    /* margin-bottom: var(--para); */
}
.details div i{
    color:var(--main)
}
.details div ul li{
    font-size: 13px;
    list-style: none;
    line-height: 30px;
}
/* MAP */
iframe{
    width: 100%;
    height:120px;
    /* margin-top: 10px; */
}
/* COPYRIGHTS */
footer>div:last-child{
    font-size: 12px;
    background-color:rgb(88, 87, 87);
    /* padding: 5px; */
}
footer div:nth-child(2) p{
    /* text-align: center; */
    color: white;
}
footer div:nth-child(2) p span{
    color: var(--main);
}
/* RESPONSIVE FOOTER */
@media only screen and (max-width:500px){
    footer div:nth-child(2) p{
        font-size: 12px;
    }
}

/* ABOUT PAGE */
.about{
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
}
.about p{
    position: absolute;
    color: white;
    font-size: 24px;
}
/* ABOUT INFORMATION */
.about-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.about-info div{
    width:400px;
    min-height: 300px;
    background-color: pink;
    border-radius: 10px;
    padding: 20px;
}
.about-info div h2{
    color: var(--main);
    text-align: center;
}
.about-info div p{
    font-size: 18px;
    margin-top: 15px;
    word-break: break-all;
    word-spacing: 5px;
    line-height: 25px;
}
/* RESPONSIVE ABOUT INFORMATION */
@media only screen and (max-width:850px){
    .about-info{
        flex-direction: column;
        align-items: center;
    }
    .about-info div{
        width:80%;
        min-height: 250px;
    }
}
/* PROJECT PAGE */
.projects p{

    text-align: center;
    color: var(--main);
    font-size: 18px;
    font-weight: 600;    
    margin: 20px 0;
}
/* PROJECT OVERALL DIV */
.projects div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center ;
    gap: 20px;
    margin-top: 20px;
}
/* PROJECT IMAGE */
.work{
    width:350px;
    height:320px;
    border-radius: 15px;
}
/* RESPONSIVE PROJECT */
@media only screen and (max-width:380px){
    .work{
        width:300px;
        height:320px;
        border-radius: 15px;
    } 
}
/* CLIENT PAGE */
.clients>p{
    text-align: center;
    color: var(--main);
    font-size: 18px;
    font-weight: 600;    
    margin: 20px 0;
}
.cleint-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}
/* CLEINT PAGE INFORMATION */
.cleint-info div{
    background-color: pink;
    border-radius: 15px;
    padding: 20px 70px 80px 50px;
}
.cleint-info div h2{
    text-align: center;
    margin-bottom: 20px;
    color: var(--main);
}
.cleint-info div ul li{
    font-size:19px;
    padding-bottom: 10px;
    text-align: left;
}
/* RESPONSIVE CLEINT PAGE */
@media only screen and (max-width:800px){
    .cleint-info{
        flex-direction: column;
    }
    .cleint-info div{
        width:70%;
        padding: 50px 50px;
    }
}

/* CONTACT PAGE */
.contact-info>p{
    text-align: center;
    color: var(--main);
    font-size: 18px;
    font-weight: 600;    
    margin: 20px 0;
}
/* CONTACT INFORMATION */
.contact-info>div{
    display: flex;
    margin: 0 auto;
    width:90%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 7px 0px grey;
}
/* FORM */
.contact-info>div>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width:50%;
    padding: 40px 0px;
    border-right: 1px solid grey;
}
.inpt{
    width:80%;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: rgb(243, 253, 254);
}
form textarea{
    height:100px;
}
form button{
    width:80%;
}
/* CONTACT DETAILS */
.contact-dtl{
    width:50%;
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 0px 50px;
}
/* CONTACT ICON */
.contact-dtl span{
    font-size: 20px;
    height: 50px;
    width:50px;
    color: var(--main);
    border: 1px solid var(--main);
    border-radius: 50%;
    padding: 15px;
}
.contact-dtl>div{
    display: flex;
    gap:10px;
}
.contact-dtl div h2{
    font-size: 20px;
}
/* RESPONSIVE CONTACT INFORMATION */
@media only screen and (max-width:350px){
    .contact-dtl div p{
        font-size: 14px;
    }
}
@media only screen and (max-width:950px){
    .contact-info>div{
        flex-direction: column;
    }
    .contact-info>div>form{
        width: 100%;
        border-right: none;
        border-bottom: 1px solid grey;
    }
    .contact-dtl{
        width: 80%;
    }
    .inpt{
        width:70%;
    }
    form button{
        width:70%;
    }
    .contact-dtl{
        padding: 50px 0px;
    }
}